body{
    /* background-color: whitesmoke; */
}

.nav-wrapper{
    overflow: hidden;
    white-space: nowrap;
    background-image: url(https://media0.giphy.com/media/l3V0hSwrWKBGIM2vS/200w.webp?cid=ecf05e47jfvngyybryud0v9jp24wqi4dcz00zs1yxt40awtz&rid=200w.webp); 
    text-shadow: 2px 2px 3px #2979ff;
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-image: url(https://media0.giphy.com/media/l3V0hSwrWKBGIM2vS/200w.webp?cid=ecf05e47jfvngyybryud0v9jp24wqi4dcz00zs1yxt40awtz&rid=200w.webp); 
    text-shadow: 2px 2px 3px #2979ff;
}

.card{
  /* background-image: linear-gradient(180deg, rgba(13, 33, 130,1) -2.5876288659793687%,rgba(56, 203, 229,1) 84%,rgba(57, 204, 230,1) 84%); */
  opacity: 95%;
}

.row{
  margin-bottom: 0px;
}

.srch{
  text-align: center;
}

.srchHistory{
}

#searchRow{
  padding: 5px;
  margin: 0px;

}

#Searchbar{
  margin-bottom: 0px !important;
}

.input-field{
  padding-bottom: 0px;
  margin-bottom: 0px !important;
}

#searchBtn{
  background-color:  #bbdefb;
  margin: 14px;
}

#searchBtn:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.srch:hover{
 color: blue;
 text-emphasis: 10px;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
 transform: scale(1.25);
}

#historyCard{
  text-align: center;
  margin-bottom: 7px;
}

img#div {
  width: 20px;
   height: 20px;
}

/* label color */
.input-field label {
    color: #bbdefb;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #bbdefb;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #bbdefb;
    box-shadow: 0 1px 0 0 #bbdefb;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #bbdefb;
    box-shadow: 0 1px 0 0 #bbdefb;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #bbdefb;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    /* color: rgb(6, 240, 38); */
  display: block;
  background-attachment: fixed;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  }

  /* UV Styling */
.lowUV{
  padding: 5px;
  border-radius: 20%;
  background: rgb(43, 255, 0);
}

.mediumUV{
  padding: 5px;
  border-radius: 20%;
  background: rgb(251, 255, 0);
}


.highUV{
  padding: 5px;
  border-radius: 20%;
  background: red;
}

/* main card styling */
#mainCard{
  margin-top: 20px;
  border-radius: 10px;
}

/* Card Styling */

#forecastCard{
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 150px;
  text-align: center;
}

#forecastCard .card-content{
  padding: 0px !important;
  border-radius: 1%;
}

#forecastCard h3{
  font-size: 5vw;
  text-emphasis: 20px;
}

.tabs .tab a{
  color:blue;
  background-image:url(https://media0.giphy.com/media/l3V0hSwrWKBGIM2vS/200w.webp?cid=ecf05e47jfvngyybryud0v9jp24wqi4dcz00zs1yxt40awtz&rid=200w.webp);
  text-shadow: 2px 2px 3px #2979ff;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:rgb(238, 238, 238);
  color:#000;
  
} /*Text color on hover*/

.tabs .tab a.active {
  /* background-image:url(https://media1.giphy.com/media/JayoKoUZcnGwM/200w.webp?cid=ecf05e474f457ef756f6d60daf9645dc94029694402ef5b6&rid=200w.webp); */
  /* background-repeat: repeat; 
  background-size: contain;
  background-position-x: left; */
  transform: scale(1.5);
  color:;
  text-shadow: 2px 2px 3px #2979ff;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/

/* Background weather classes */
.clouds{
  background-image: url(https://media0.giphy.com/media/K7o9FdCoDnwEo/giphy.gif?cid=ecf05e47ik83s276hfgih7h6zzjv6w3nl0bdey33le0tlwro&rid=giphy.gif);
}

.rain{
  background-image: url(https://media0.giphy.com/media/sclaXPuYMBQVN4OsuM/giphy.webp?cid=ecf05e47hl2lg7x2xjmdygd4rmbbfttc8zautut5ky5sds4r&rid=giphy.webp);
}

.clear{
  background-image: url(https://media3.giphy.com/media/MasFnHEAdMTF7kqHbl/200w.webp?cid=ecf05e47u678wovcskmav91lb8x6ko9gcrmqp5u00wmjjdot&rid=200w.webp);
  background-repeat: repeat; 
  background-size: contain;
  background-position-x: left;
}